.app-header {
  font-weight: bold;
}
.title-bar {
  position: relative;
  top: 6px;
  border-radius: 5px;
  height: 35px;
  background-color: #333;
}
.overall {
  width: 360px;
  margin: 0 auto;
}
.dots {
  position: relative;
  left: -135px;
  top: 9px;
}
.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: goldenrod;
}
.green {
  background-color: green;
}
.fancify {
  border: 5px solid #333;
  border-radius: 5px;
}  
.calculator {    
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(40px, auto);
}
.operator {
  background-color: orange;
  color: white;
}
.zero {
  grid-column: 1 / 3;
}
.result {
  background-color: #666;
  font-weight: bold;
  color: white;
  font-size: 50px;
  padding-right: 15px;
  text-align: right;
  grid-column: 1 / 5;
}
.key {
  border: 1px solid #777;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.number-key {
  background-color: #eee;
}
.modifier-key {
  background-color: #ccc;
}